<app-header></app-header>

<div class="row">
<div class="col-md-1">

</div>
<div class="col-md-10">
<div class="row mt-5 mb-3" >
<div class="col-md-3">

  <img [src]="Image_icon" class="image-icon" alt="Image Icon" width="200" height="330"/>
</div>
<div class="col-md-9">
    <div class="TableBorder">
    <table class="table">
        <tr>
            <th>Name</th>
            <td>{{Name}}</td>
        </tr>
        <tr>
            <th>Real Name</th>
            <td>{{RealName}}</td>
        </tr>
        <tr>
            <th>Aliases</th>
            <td>{{Aliases}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>{{Gender}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{Description}}</td>
        </tr>
        <tr>
            <th>Site Url</th>
            <td><a [href]="SiteUrl" target="_blank">{{SiteUrl}}</a></td>
        </tr>
        
    </table>
</div>

</div>
</div>
</div>
<div class="col-md-1">

</div>
</div>
