.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background-size: auto 100%;
    width: 49px;
    height: 44px;
    border-radius: 50%;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.profile-name{
    font-weight: bold;
    color: #000;
    margin-top: 0.5rem;
    font-size: medium;
}


