
  <nav class="navbar navbar-expand-lg navbar-dark bg-light static-top">
    <div class="container">
      <a >
        <img src="https://logos.textgiraffe.com/logos/logo-name/Comics-designstyle-comics-m.png" alt="..." height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" ><p class="profile-name">Welcome <span>&nbsp;{{objectData.name}}</span></p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " >
              <img alt="profile image" class="profile-img" [src]="objectData.picture"/>
            </a>
          
          </li>
        </ul>
      </div>
    </div>
  </nav>